{% extends 'base.html' %} {% block sidebar %} {% load static %}
<form method="get" action="{% url 'index' %}">
  {{ form }}
  <input class="btn btn-primary" type="submit" name="Filter results" />
  <a href="{% url 'index' %}?reset=true" class="btn btn-secondary"
    >Reset filters</a
  >
</form>
{% endblock %} {% block content %}
<table class="table">
  <thead class="text-center">
    <th>Name</th>
    <th>Description</th>
    <th>Ages</th>
    <th>Price</th>
    <th>Average Reviews</th>
  </thead>

  <tbody>
    {% for p in products %}
    <tr class="text-center">
      <td><a href="{% url 'show' p.id %}">{{ p.name }}</a></td>
      <td>{{ p.description|truncatewords:5 }}</td>
      <td>{{ p.age_range }}</td>
      <td>{{ p.price|floatformat:2 }}</td>
      <td class="avg_rating">{{p.avg_rating}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Javascript for converting the rating to a number of stars -->
<script src="{% static "products/reviews.js" %}"></script>
{% endblock %}
